body {
  font-family: 'Manrope', sans-serif;
}
.large {
  font-size: 20rem;
}
.image {
  transition: all 1s ease-in-out 0s;
}

.image:hover {
  cursor: pointer;
  transform: rotate(360deg);
  /* transition: all 1s ease-in-out 0s; */
}
.next {
  top: 220px;
  right: 13px;
  padding: 12px 15px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.prev {
  top: 216px;
  left: 13px;
  padding: 12px 15px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

h1 {
  color: #000000c2;
}
.increment,
.decrement {
  width: 15px;
}
.absolute-add {
  top: 86px;
  left: 10px;
}
.nav__menu {
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1;
  padding: 5rem 4rem 0 2rem;
}
.nav__menu > ul > li {
  cursor: pointer;
  margin-bottom: 0.8rem;
  font-size: large;
  font-weight: bold;
}
li {
  cursor: pointer;
}
li:hover {
  color: black;
}
.blocker::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  background-color: gray;
  opacity: 0.3;
  height: 1px;
  width: 85%;
  margin-right: 100px;
}
.setLine {
  position: relative;
}
.setLine::after {
  display: block;
  content: '';
  background: red;
  position: absolute;
  top: 50px;
  width: 0;
  height: 2px;
}

@media screen and (max-width: 640px) {
  .absolute-add {
    width: 96%;
  }
}
