body {
  font-family: "Manrope", sans-serif;
}
.large {
  font-size: 20rem;
}
.image {
  transition: all 1s ease-in-out 0s;
}

.image:hover {
  cursor: pointer;
  transform: rotate(360deg);
  /* transition: all 1s ease-in-out 0s; */
}
.next {
  top: 208px;
  right: 13px;
  padding: 12px 15px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.prev {
  top: 216px;
  left: 13px;
  padding: 12px 15px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.counter {
  background-color: #f7f8fd;
}
h1 {
  color: #000000c2;
}
.increment,
.decrement {
  width: 15px;
}
.absolute-add {
  top: 86px;
  left: 10px;
}
.nav__menu {
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1;
  padding: 5rem 4rem 0 2rem;
}
.nav__menu > ul > li {
  cursor: pointer;
  margin-bottom: 0.8rem;
  font-size: large;
  font-weight: bold;
}
@media screen and (max-width: 640px) {
  .absolute-add {
    width: 96%;
  }
}
